.navbar_container {
  top: 0;
  width: 100%;
  position: sticky;
  z-index: 10;
  overflow: hidden;
}

.navbar {
  height: 70px;
  /* gap: 1.5rem; */
}

.logo_wrapper,
.navLinks_wrapper,
.authentication_wrapper,
.navbar_link {
  height: 100%;
}

.navLinks_wrapper {
  /* width: 500px; */

  justify-content: space-around;
}

.authentication_wrapper {
  justify-content: flex-end;
  gap: 1rem;
}

.navbar_link {
  cursor: pointer;
  text-decoration: none;
}

.navbar_icon {
  height: 20px;
  width: 20px;
}
.icon {
  height: 35px;
  width: 35px;
}
