.navbar_wrapper {
  height: 70px;
  top: 0;
  width: 1;
  position: sticky;
  padding: 1rem 2rem;
  z-index: 2;
}

.home_button {
  gap: 10px;
  padding: 0 10px;
}

.navBar_logo {
  height: 40px;
  width: 40px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar_link {
  cursor: pointer;
}

.navbar_divider {
  width: 2.5px;
  border: 0;
  border-radius: 2.5px;
}
