* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flexRow,
.flexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexColumn {
  flex-direction: column;
}

.textureGradient::before,
.textureGradient::after {
  bottom: 0;
  background-position: center center;
  z-index: 1;
}

.textureGradient_navbar::before {
  top: 0;
  background-position: top top;
}
.textureGradient_navbar::before,
.textureGradient_navbar::after {
  z-index: -1;
}

.textureGradient::before,
.textureGradient_navbar::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
  background-size: 400px;
  opacity: 0.65;
}
.textureGradient::after,
.textureGradient_navbar::after {
  content: "";
  position: absolute;
  height: 100vh;
  bottom: 0;
  width: 100%;
  background-image: repeating-linear-gradient(
    to right,
    white 0%,
    rgba(255, 255, 255, 0.35) 65%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 100%;
  background-position: center center;
  opacity: 0.65;
}
